@model RegistrationViewModel

<div class="form-group">
    <label asp-for="Email"></label>
    <input asp-for="Email" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="DisplayName"></label>
    <input asp-for="DisplayName" class="form-control" placeholder="Recommend using the name of ure main character" />
</div>
<div class="form-group">
    <label asp-for="Password"></label>
    <input asp-for="Password" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="ConfirmPassword"></label>
    <input asp-for="ConfirmPassword" class="form-control" />
</div>

