@model CreateGuildViewModel

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            @*User Info*@
            @await Html.PartialAsync("_RegistrationPartial", Model)


            @*Guild Info*@
            <div class="form-group">
                <label asp-for="Guild.Name"></label>
                <input asp-for="Guild.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Guild.Code"></label>
                <input asp-for="Guild.Code" class="form-control" placeholder="Must be unique" />
            </div>
            <div class="form-group">
                <label asp-for="Guild.Faction"></label>
                <div>
                    <select asp-for="Guild.Faction" asp-items="Html.GetEnumSelectList<Faction>()"></select>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>