@model JoinGuildViewModel

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            @*User Info*@
            @await Html.PartialAsync("_RegistrationPartial", Model)


            @*Guild Info*@
            <div class="form-group">
                <label asp-for="GuildCode"></label>
                <input asp-for="GuildCode" class="form-control" placeholder="Ask guild master for guild code" />
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>